@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');



*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    font-family: "Archivo", sans-serif;
}

/* FONTS */
.font-antic-didone {
    font-family: "Antic Didone", serif !important;
}  
.font-im-fell {
    font-family: "IM Fell French Canon", serif !important;
}
.font-archivo{
    font-family: "Archivo", sans-serif !important;
}


a{
    text-decoration: none !important;
    transition: 300ms !important;
}
a:hover{
    opacity: .7 !important;
    transition: 500ms !important;
}


.active-link{
    color: #BD937A !important;
}


/* PALHETA DE CORES */
.text-0{
    color: #B96544 !important;
}
.bg-0{
    background-color: #B96544 !important;
}
.text-1{
    color: #BD937A !important;
}
.bg-1{
    background-color: #BD937A !important;
}
.text-2{
    color: #BDB0A5 !important;
}
.bg-2{
    background-color: #BDB0A5 !important;
}
.text-3{
    color: black !important;
}
.bg-3{
    background-color: black !important;
}
.text-4{
    color: white !important;
}
.bg-4{
    background-color: white !important;
}
.text-cinza-1{
    color: #54565A !important;
}
.bg-cinza-1{
    background-color: #54565A !important;
}
.text-cinza-2{
    color: #97999B !important;
}
.bg-cinza-2{
    background-color: #97999B !important;
}
.text-cinza-3{
    color: #75787B !important;
}
.bg-cinza-3{
    background-color: #75787B !important;
}
.text-cinza-4{
    color: #D9D9D6 !important;
}
.bg-cinza-4{
    background-color: #D9D9D6 !important;
}
.text-black-2{
    color: #110F0A !important;
}
.bg-black-2{
    background-color: #110F0A !important;
}


.button-1{
    padding: 12px 40px !important;
    border-radius: 7px !important;
    color: #D9D9D6 !important;
    background-color: #B96544 !important;
    font-weight: 500 !important;
}
.button-1:hover{
    background-color: #3C3C3B !important;
    opacity: 1 !important;
}
.button-2{
    padding: 12px 40px !important;
    border-radius: 7px !important;
    color: #110F0A !important;
    background-color: transparent !important;
    border: 1px solid #110F0A !important;
    font-weight: 500 !important;
}
.button-2:hover{
    background-color: #3C3C3B !important;
    border: 1px solid transparent !important;
    color: #D9D9D6 !important;
    opacity: 1 !important;
}
.button-3{
    padding: 12px 40px !important;
    border-radius: 7px !important;
    color: #D9D9D6 !important;
    background-color: #3C3C3B !important;
    font-weight: 500 !important;
}
.button-3:hover{
    background-color: #D9D9D6 !important;
    color: #3C3C3B !important;
    opacity: 1 !important;
}